<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".videoWork.VideoCacheWork"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.Audition"
        tools:node="merge"
        tools:targetApi="31">
        <activity
            android:name=".screens.VoterListActivity"
            android:exported="false" />
        <activity
            android:name=".screens.DuetCameraActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.SharedVideoPlayActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter
                android:autoVerify="true"
                android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="139.59.30.125:6060"
                    android:pathPattern="/video/.*"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter
                android:autoVerify="true"
                android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="139.59.30.125:6060"
                    android:pathPattern="/video/.*"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.PostLocationVideoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.AboutUsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.PrivacyPolicyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.TermsAndConditionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.TryAudioActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.HashtagVideoActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".snapCameraKit.SnapPreviewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".snapCameraKit.SnapCameraActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.BlockedUsersActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.CompilerActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.MusicActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screens.fragment.NotificationActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.BoostPostActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cashfree.PaymentActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.ContestDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.WithdrawActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.AddAmountActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.CollectionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.MessageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.UploadVideoActivity"
            android:exported="false"
            android:parentActivityName=".screens.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.EditProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.canhub.cropper.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".screens.FollowFollowingListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.WalletActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.CommanVideoPlayActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.PreviewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.VerificationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.CameraActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:parentActivityName=".screens.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.OtherUserProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.PhoneLoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.LoginActivity"
            android:exported="false"
            android:parentActivityName=".screens.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.SplashActivity"
            android:exported="true"
            android:resizeableActivity="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.snap.camerakit.app.id"
            android:value="b6045b5c-05c8-4ffa-a767-fed3047652d1" />
        <meta-data
            android:name="com.snap.camerakit.api.token"
            android:value="eyJhbGciOiJIUzI1NiIsImtpZCI6IkNhbnZhc1MyU0hNQUNQcm9kIiwidHlwIjoiSldUIn0.eyJhdWQiOiJjYW52YXMtY2FudmFzYXBpIiwiaXNzIjoiY2FudmFzLXMyc3Rva2VuIiwibmJmIjoxNjgyNDAzNzQ1LCJzdWIiOiJiNjA0NWI1Yy0wNWM4LTRmZmEtYTc2Ny1mZWQzMDQ3NjUyZDF-U1RBR0lOR341YWI3ZTJjZS02NTg0LTRjZWItOWE4NS05NWQ2NjViYzJjNzcifQ.60yX_HWLomYzhWEU46ujw9rPfzSItsDpwmBiby-g4JU" />
        <meta-data
            android:name="com.snap.kit.scopes"
            android:resource="@array/snap_kit_scopes" />
        <!--
     <meta-data
            android:name="com.snap.camerakit.api.token"
            android:value="eyJhbGciOiJIUzI1NiIsImtpZCI6IkNhbnZhc1MyU0hNQUNQcm9kIiwidHlwIjoiSldUIn0.eyJhdWQiOiJjYW52YXMtY2FudmFzYXBpIiwiaXNzIjoiY2FudmFzLXMyc3Rva2VuIiwibmJmIjoxNjgyNDAzNzQ1LCJzdWIiOiJiNjA0NWI1Yy0wNWM4LTRmZmEtYTc2Ny1mZWQzMDQ3NjUyZDF-UFJPRFVDVElPTn4zYjM4NDljOS1lMWE3LTQyYjUtOWFiOC01ZmVkZGM1MTg3MjIifQ.GR9osml4jEpZi_jRp1ID0NrYk1Tlgex8lXZxJadVYVo" />
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/textColorRed" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:enabled="true"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />
        <service
            android:name=".Firebase.MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".network.NetworkStateService"
            android:enabled="true"
            android:exported="false" />
    </application>
    <uses-feature android:name="android.hardware.camera" />

    <uses-feature android:name="android.hardware.video_decoder" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

</manifest>